[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "sampleWeb/themes/ananke"]
	path = sampleWeb/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
